absl-py==2.1.0
astunparse==1.6.3
cachetools==5.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
chex==0.1.85
clu @ git+https://github.com/google/CommonLoopUtils@f30bc441a14f0ccf8eaff79800f486a846613a8c
contextlib2==21.6.0
contourpy==1.2.0
cycler==0.12.1
diffrax==0.5.0
dm-tree==0.1.8
equinox==0.11.3
etils==1.7.0
flatbuffers==23.5.26
flax==0.8.1
fonttools==4.49.0
frozendict==2.4.0
fsspec==2024.2.0
gast==0.5.4
google-auth==2.28.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.60.1
h5py==3.10.0
idna==3.6
importlib-resources==6.1.1
-e git+ssh://git@github.com/nathan-t4/gnode.git@00d09f153b5999f5bef450e8c6d2090e79012b68#egg=invariant_gnode
jax==0.4.24
jaxlib==0.4.24+cuda12.cudnn89
jaxtyping==0.2.25
jraph==0.0.6.dev0
keras==2.15.0
keras-nightly==3.0.4.dev2024021403
kiwisolver==1.4.5
libclang==16.0.6
lineax==0.0.4
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
ml-dtypes==0.3.2
ml_collections==0.1.1
msgpack==1.0.7
namex==0.0.7
nest-asyncio==1.6.0
numpy==1.26.4
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-cupti-cu12==12.3.101
nvidia-cuda-nvcc-cu12==12.3.107
nvidia-cuda-nvrtc-cu12==12.3.107
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==8.9.7.29
nvidia-cufft-cu12==11.0.12.1
nvidia-curand-cu12==10.3.4.107
nvidia-cusolver-cu12==11.5.4.101
nvidia-cusparse-cu12==12.2.0.103
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.9
optimistix==0.0.6
orbax-checkpoint==0.5.3
packaging==23.2
pillow==10.2.0
protobuf==4.25.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
scipy==1.12.0
six==1.16.0
tb-nightly==2.16.0a20240212
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorstore==0.1.53
termcolor==2.4.0
tf-nightly==2.16.0
tf_keras-nightly==2.16.0.dev2024021410
toolz==0.12.1
tqdm==4.66.2
typeguard==2.13.3
typing_extensions==4.9.0
urllib3==2.2.1
Werkzeug==3.0.1
wrapt==1.14.1
zipp==3.17.0
